.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #c97405;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbdf61;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-guitar {
  /* border: 1px solid #1d1d1d; */
}
.App-guitar-soundhole {
  fill: #1d1d1d;
  stroke: white;
  stroke-width: 5;
  cx: 175;
  cy: 150;
  r: 120;
}
.App-guitar-bridgehole {
  fill: #1d1d1d;
}
.App-guitar-string {
  stroke: white;
  stroke-width: 2px;
}
.App-guitar-chord-root {
  font-family: 'Segoe UI Black';
  font-size: 55pt;
  text-align: center;
}